body {
    background-color: lightgreen;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#gameCanvas {
    background-color: white;
    border: 2px solid black;
}
